* {
    margin: 0;
    padding: 0;
    font-family: 'Arial',cursive;
    font-family: 'Poppins', sans-serif;
}

header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/background.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    
}

.logoo{
    width: 200px;
    height: 200px;
}


.nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;

}
.nav img{ 
    width: 150px;
    border-radius: 50%;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 23px;
    position: relative;
}

.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.nav-links ul li::after{
    content: '';
    width: 0px;
    height: 2px;
    background: #f47c36;
    display: block;
    margin: auto;
    transition: 0.3s;
}

.nav-links ul li:hover::after{
    width: 100%;
}

/*----- Text - Box ----*/

.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.text-box h1{
    font-size: 62px;
}

.text-box p{
    color: #fff;
    font-size: 20px;
    margin: 10px 0 40px;
}

.visit-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 20px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.visit-btn:hover{
    border: 1px solid #f47c36 ;
    background: #ff7300 ;
    transition: 0.3s;

}


section{
    background-image: linear-gradient(rgba(4,9,30,0.8),rgba(4,9,30,0.8)),url(images/blockchain.jpg);
    padding: auto;
    
    
}

fieldset{
    color: white;
    text-align: center;
    margin: auto;
    width: 600px;
    font-size: 20px;
    padding-left: 20px;
    background-color: rgba(0,0, 0, 0.4);
}

legend{
    border: white 3px solid;
    padding: 15px 40px;
    background-color: rgba(0,0, 0, 0.6);

}

.submit{
    margin-bottom: 40px;
}

/* ------  NFT -----  */


.row{
    margin: 5%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.479);
}

.nft{
    background-image: linear-gradient(rgba(4,9,30,0.9),rgba(4,9,30,0.9)),url(images/nft.jpg);
    background-size: cover;
    margin: auto;
    text-align: center;
    padding-top: 50px;
    
    
    
}

.nft-col{
    width: 450px;
    overflow: hidden;
    position: relative;
    flex-basis: 31%;
    display: block;
    margin-bottom: 40px;
    border-radius: 10px;
}

.nft-col img{
    overflow: hidden;
    height: 400px;
    width: 100%;
    display: block;
    border-radius: 10px;
    
    
}

.nftname{
    text-align: left;
    margin:10px 0;
    word-spacing: 90px;
    color: rgb(147, 227, 241);
}


/*-----NFT SINGLE ICIN --- */

.single{
    background-image: linear-gradient(rgba(4,9,30,0.9),rgba(4,9,30,0.9)),url(images/nft.jpg);
    background-position: center;
    color: aliceblue;
    

}

#nftdiv{
    width: 80%;
    border: #fff 1px solid;
    border-radius: 20px;
    margin: auto;
    padding: 40px 40px 0 40px;
    background-color: rgba(15, 14, 14, 0.623);
    box-sizing: border-box;
    width: 380px;
    margin: 0 40px;
    margin-bottom: 150px;
    
}



#nftheader{
    color: #fff;
    text-align: center;
    padding: 20px;
    border:#f47c36 solid 2px;
    width: 250px;
    margin-bottom: 50px;
    position: relative;
    display: block;
    margin: auto;  
    margin-bottom: 30px; 
    
}

#nftdiv img{
    border-radius: 20px;
    flex-basis: 31%;
    height: 350px;
    width: 300px;
    cursor: pointer;
    margin-bottom: 40px;
    border: #36eef4 1px solid;
}

#nftname{
    color: rgb(0, 202, 202);
    font-size: 24px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 30px;
    text-align: center;
}

.nftdescription{
    color: rgb(81, 155, 253);
    margin: 30px 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.div{
    display: inline-block;

}

#ana_div {

    width: max-content;
    margin: auto;
    

    
}

.price{
    margin: 30px 0 20px 0;
    text-align: center;
}

.creator{
    margin: 10px 0 0 0 ;
    display: flex;
    padding-bottom: 0;
}

.creator img{
    border: #fff 1px solid;
    padding: 0;
    border-radius: 50%;
    display: inline;
    margin: auto;
    align-items: center;
    
}

#person{
    display: inline;
    text-align: left;
    width: 100px;
    margin: auto;
    


}



#buy{
    margin: auto;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 8px 20px;
    font-size: 15px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

#buy:hover{
    border: 1px solid #f47c36 ;
    background: #ff7300 ;
    transition: 0.3s;

}

